body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #fff;
}

#pageContainer {
	height: 100%;
}

#login {
	background: none;
	border: none;
	width: 100%;
	padding: 0;
	display: block;
	height: 100%;
}

#login p {
	color: #a0a0a0;
	margin: 10px 0 0;
}

#login img {
	width: 175px;
}