body {
	padding: 12px;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

#linkedInLogin {
	text-align: center;
	margin-top: 225px;
}

img {
	border-radius: 50%;
	margin: 12px auto;
	width: 80px;
}